<ion-view view-title="Bride">
  <ion-content>

    <div class="row">

      <div class="col-50">

        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Bridal Designer</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/rsz_bridi.png" width="100%"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Jewellery & Accessories</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/jwellery.png" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Bridal Flowers</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/flowers.png" width="100%"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Cosmetics & Personal Care</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/beauty.png" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Bridal Wear & Fabrics</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/dress.png" width="100%"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Bridal Dressmakers</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/rsz_bridalicon.png" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Salons</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/makeup.png" width="100%"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Footwear</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/3"><img src="img/footwear.png" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
