<ion-view view-title="Bride">
  <ion-content>

    <div class="row">

      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Bridal Designer</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/rsz_bridi.png" class="full-image"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Jewellery & Accessories</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/jwellery.png" class="full-image"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Bridal Flowers</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/flowers.png" class="full-image"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Cosmetics & Personal Care</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/beauty.png" class="full-image"></a>
          </div>
        </div>
      </div>
      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Bridal Wear & Fabrics</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/dress.png" class="full-image"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Bridal Dressmakers</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/rsz_bridalicon.png" class="full-image"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Salons</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/makeup.png" class="full-image"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Footwear</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/3"><img src="../img/footwear.png" class="full-image"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
