<ion-view view-title="Bookmark">
  <ion-content>
    <div ng-controller="BookmarkListCtrl" class="list card">

      <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-person"></i>
          Minoshan Wanasinghe
      </a>
      <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-person"></i>
          Kasun Samarasekara
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-person"></i>
        Minoshan Wanasinghe
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-person"></i>
        Kasun Samarasekara
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-person"></i>
        Minoshan Wanasinghe
      </a>
      <a class="item item-icon-left" href="3">
        <i class="icon ion-ios-person"></i>
        Kasun Samarasekara
      </a>
    </div>
  </ion-content>
</ion-view>
