<ion-view view-title="Groom">
  <ion-content>

    <div class="row">

      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Grooms Attire</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/1"><img src="../img/groom.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Salons</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/1"><img src="../img/rsz_comb.png"></a>
          </div>
        </div>
      </div>
      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Footwear & Accessories</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/1"><img src="../img/shoes.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Personal Care</h2>
          </div>
          <div class="item item-body">
            <a href="#/app/menusingle/1"><img src="../img/rsz_bottle.png"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

