<ion-view view-title="Groom">
  <ion-content>

    <div class="row">

      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Grooms Attire</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/1"><img src="img/groom.png" width="100%"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Salons</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/1"><img src="img/rsz_comb.png" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Footwear & Accessories</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/1"><img src="img/shoes.png" width="100%"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Personal Care</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/1"><img src="img/rsz_bottle.png" width="100%"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

