<ion-view view-title="Menu">
  <ion-content>

    <div ng-controller="ItemMenuCtrl" class="list card">

      <a class="item item-icon-left" href="#/app/bride">

        <i class="icon ion-ios-person"></i>
        Bride
      </a>
      <a class="item item-icon-left" href="#/app/groom">

        <i class="icon ion-ios-contact"></i>
        Groom
      </a>
      <a class="item item-icon-left" href="#/app/other">

        <i class="icon ion-ios-people"></i>
        Other
      </a>
    </div>
  </ion-content>
</ion-view>
