<ion-view view-title="Menu">
  <ion-content>
    <div class="row">
      <div class="list card round-box" style="margin-left: auto;margin-right: auto;">
        <div class="item item-text">
          <h4><b>Grooms</b></h4>
        </div>
        <div class="item item-image">
          <a href="#/app/groom"><img src="img/groom-menu.png" width="100%"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list card round-box" style="margin-left: auto;margin-right: auto;">
        <div class="item item-text">
          <h4><b>Bride</b></h4>
        </div>
        <div class="item item-image">
          <a href="#/app/bride"><img src="img/bride-menu.png" width="100%"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list card round-box" style="margin-left: auto;margin-right: auto;">
        <div class="item item-text">
          <h4><b>Salons</b></h4>
        </div>
        <div class="item item-image">
          <a href="#/app/other"><img src="img/other-menu.png" width="100%"></a>
        </div>
      </div>
    </div>
    <!--<div ng-controller="ItemMenuCtrl" class="list card">

      <a class="item item-icon-left" href="#/app/bride">

        <i class="icon ion-ios-person"></i>
        Bride
      </a>
      <a class="item item-icon-left" href="#/app/groom">

        <i class="icon ion-ios-contact"></i>
        Groom
      </a>
      <a class="item item-icon-left" href="#/app/other">

        <i class="icon ion-ios-people"></i>
        Other
      </a>
    </div>-->
  </ion-content>
</ion-view>
