<ion-view view-title="{{title}}">
  <ion-content>
    <div ng-controller="BookmarkListCtrl" class="list card">

      <a class="item item-icon-left" href="#/app/profile/1">
        <i class="icon ion-ios-contact-outline"></i>
        Minoshan Wanasinghe
      </a>
      <a class="item item-icon-left" href="#/app/profile/1">
        <i class="icon ion-ios-contact-outline"></i>
        Kasun Samarasekara
      </a>
      <a class="item item-icon-left" href="#/app/profile/1">
        <i class="icon ion-ios-contact-outline"></i>
        Minoshan Wanasinghe
      </a>
      <a class="item item-icon-left" href="#/app/profile/1">
        <i class="icon ion-ios-contact-outline"></i>
        Kasun Samarasekara
      </a>
      <a class="item item-icon-left" href="#/app/profile/1">
        <i class="icon ion-ios-contact-outline"></i>
        Minoshan Wanasinghe
      </a>
      <a class="item item-icon-left" href="#/app/profile/1">
        <i class="icon ion-ios-contact-outline"></i>
        Kasun Samarasekara
      </a>
    </div>
  </ion-content>
</ion-view>
