<ion-view view-title="Other">
  <ion-content>

    <div class="row">

      <div class="col-50">

        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Photography & <br> Cinematography</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/rsz_camera.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Flowers and Decores</b> </h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/rose.png"></a>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Locations</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/location.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Wedding Cars</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/rsz_car.png"></a>
          </div>
        </div>
      </div>
     </div>
     <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Ashtaka Jayamangala <br> Gatha</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/jayamangala.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Wes Natum</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/dancer.png"></a>
          </div>
        </div>
      </div>
     </div>
     <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Eventmanagements</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/engage.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Hotels</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/hotel.png"></a>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Cakes & Invitations</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/rsz_cake.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Poruwa Ceremony</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/poruwa.png"></a>
          </div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Wedding Gifts</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/presents.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Magul Bera</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/drum.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Entertainment</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/music.png"></a>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="list card round-box">
          <div class="item item-text">
            <h5><b>Travel & Destinations</b></h5>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="img/travel.png"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

