<ion-view view-title="Other">
  <ion-content>

    <div class="row">

      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Photography & Cinematography</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/rsz_camera.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Flowers and Decores </h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/rose.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Entertenment</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/music.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Wedding Cars</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/rsz_car.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Ashtaka Jayamangala Gatha</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/jayamangala.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Wes Natum</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/dancer.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Eventmanagements</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/engage.png"></a>
          </div>
        </div>
      </div>
      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Hotels</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/hotel.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Cakes & Invitations</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/rsz_cake.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Poruwa Ceremony</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/poruwa.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Wedding Gifts</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/presents.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Magul Bera</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/drum.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Locations</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/location.png"></a>
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>Travel & Destinations</h2>
          </div>
          <div class="item item-image">
            <a href="#/app/menusingle/2"><img src="../img/travel.png"></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

