<ion-view view-title="Contact">
  <ion-content>
    <div class="row">

      <h1 class="center">Destiny 15</h1>
    </div>
    <div class="row">

      <h4 class="center">Touch your heart with elegance</h4>
    </div>
    <br>
    <div class="row">
      <i class="center ion ion-ios-telephone custom-icon-size"></i>
    </div>
    <div class="row">
      <h4 class="center">destiny15official@gmail.com</h4>
    </div>
    <br>
    <div class="row">
      <i class="center ion ion-ios-email custom-icon-size"></i>
    </div>
    <div class="row">
      <h4 class="center">destiny15official@gmail.com</h4>
    </div>
    <br>
    <div class="row">
      <i class="center ion ion-ios-location custom-icon-size"></i>
    </div>
    <div class="row">
      <h4 class="center">No. 515, Sausiri Mawatha,</h4>
    </div>
    <div class="row">
      <h4 class="center">Udumulla Road, Battharamulla.</h4>
    </div>
    <br>
    <div class="row">
      <p class="center">Destiny15 Private Limited.</p>
    </div>
  </ion-content>
</ion-view>
