<ion-view view-title="Profile">
  <ion-content>

    <div id="profile-bg">

      <div id="profile-info">
        <img id="profile-image" src="../img/profile_pic.png">

      </div>
    </div>
    <br>
    <br>
    <br>
    <h3 class="text-center">Minoshan Wanasinghe</h3>
    <br>
    <br>
    <div class="row">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris felis ligula, congue hendrerit magna sit amet,
        ultrices vehicula leo. Donec at orci justo. Suspendisse
        potenti. Ut elit ipsum, faucibus at commodo in, egestas
        vitae turpis. Vestibulum pharetra iaculis tortor, vel laoreet
        tellus bibendum ullamcorper.</p>
    </div>
    <br>
    <br>
    <h2>Gallery</h2>
    <div class="row">
      <ion-slide-box on-slide-changed="slideChanged($index)">
        <ion-slide>
          <img src="img/2.png" class="full-image">
        </ion-slide>
        <ion-slide>
          <img src="img/1.png" class="full-image">
        </ion-slide>
        <ion-slide>
          <img src="img/2.png" class="full-image">
        </ion-slide>
      </ion-slide-box>
    </div>
    <br>
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-ios-contact-outline"></i>
        <h3> 077 77 777 77</h3>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-world-outline"></i>
        <a href="#" style="color: black">www.minoshenwanasinghe.lk</a>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-location-outline"></i>
        <h3>No 62,Convent Road,Bolawalana,Negombo</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
