<ion-view view-title="Magazine">
  <ion-content>
    <div class="row">

      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>ISSUE 01</h2>
          </div>
          <div class="item item-image">
            <img src="../img/2.png">
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>ISSUE 02</h2>
          </div>
          <div class="item item-image">
            <img src="../img/2.png">
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>ISSUE 03</h2>
          </div>
          <div class="item item-image">
            <img src="../img/2.png">
          </div>
        </div>
      </div>
      <div class="col">

        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>ISSUE 04</h2>
          </div>
          <div class="item item-image">
            <img src="../img/1.png">
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>ISSUE 05</h2>
          </div>
          <div class="item item-image">
            <img src="../img/1.png">
          </div>
        </div>
        <div class="list card round-box">
          <div class="item item-avatar">
            <h2>ISSUE 06</h2>
          </div>
          <div class="item item-image">
            <img src="../img/1.png">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
